---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
---

<Layout title="URL - Shortener">
    <main class="min-h-screen max-w-7xl w-full flex justify-center flex-col mx-auto items-center gap-6">
        <Loading />
        <h1 class="uppercase text-3xl font-semibold">Redirigiendo 😎</h1>
    </main>
</Layout>
