---
import Layout from "../layouts/Layout.astro";
import { Form } from "../components/Form.tsx";
---

<Layout title="URL - Shortener">
    <main class="min-h-screen max-w-7xl w-full mx-auto">
        <Form client:load />
    </main>
</Layout>