---
import HeaderH4 from "../components/terms/HeaderH4.astro";
import HeaderH3 from "../components/terms/HeaderH3.astro";
import Section from "../components/terms/Section.astro";
import Pharagraph from "../components/terms/Pharagraph.astro";
import UL from "../components/terms/UL.astro";
import Main from "../components/common/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Términos de Servicio"
    description="Bienvenido a ShortURL. Estos términos de servicio establecen
las reglas para acceder y utilizar el sitio web de ShortURL
y cualquier contenido, funcionalidad o servicios
relacionados ofrecidos por el Sitio. Si eres un visitante al
acceder o utilizar el Sitio, aceptas cumplir con estos
Términos. Lee cuidadosamente los siguientes términos antes
de usar el Sitio. Tu uso del Sitio está condicionado a la
aceptación y cumplimiento de estos Términos. Si no estás de
acuerdo con alguna parte de estos Términos, no puedes
utilizar el Sitio."
>
    <Main>
        <article>
            <Section>
                <HeaderH3>Términos de Servicio</HeaderH3>
                <Pharagraph>
                    Bienvenido a ShortURL. Estos términos de servicio establecen
                    las reglas para acceder y utilizar el sitio web de ShortURL
                    y cualquier contenido, funcionalidad o servicios
                    relacionados ofrecidos por el Sitio (denominados
                    colectivamente el "Servicio"). Si eres un visitante al
                    acceder o utilizar el Sitio, aceptas cumplir con estos
                    Términos. Lee cuidadosamente los siguientes términos antes
                    de usar el Sitio. Tu uso del Sitio está condicionado a la
                    aceptación y cumplimiento de estos Términos. Si no estás de
                    acuerdo con alguna parte de estos Términos, no puedes
                    utilizar el Sitio.
                </Pharagraph>
            </Section>
            <Section>
                <HeaderH3>Condiciones de Uso</HeaderH3>
                <HeaderH4>Desactivación de Enlaces</HeaderH4>
                <UL>
                    <li>
                        Los enlaces que no tengan al menos un clic en 30 días
                        serán eliminados.
                    </li>
                </UL>
                <HeaderH4>
                    Disponibilidad para Usuarios de Todos los Países y Edades
                </HeaderH4>
                <UL>
                    <li>Contenido que propague phishing, malware o virus.</li>
                    <li>Contenido abusivo o sospechoso.</li>
                    <li>Contenido pornográfico o sexual.</li>
                    <li>Contenido violento o prejuicioso.</li>
                    <li>Contenido relacionado con drogas, armas o alcohol.</li>
                    <li>
                        Contenido que pueda infringir los derechos de otras
                        personas.
                    </li>
                    <li>
                        Contenido desagradable, explícito u ofensivo que cause
                        cualquier tipo de malestar a los usuarios.
                    </li>
                    <li>Pop-ups, scripts y código malicioso.</li>
                    <li>Doble redirección.</li>
                </UL>
                <HeaderH4>
                    Eliminación de Enlaces que Incumplen las Condiciones
                </HeaderH4>
                <Pharagraph>
                    Cualquier enlace corto que lleve a una página de destino que
                    se ajuste a las condiciones anteriores puede ser eliminado.
                    Todos los enlaces creados son analizados por nuestro equipo.
                    Si recibimos un informe de spam o notamos cualquier tipo de
                    comportamiento abusivo en contra de nuestros términos de
                    servicio, el enlace corto será eliminado sin previo aviso.
                </Pharagraph>
            </Section>
            <Section>
                <HeaderH3>Descargo de Responsabilidad</HeaderH3>
                <Pharagraph>
                    El servicio gratuito de Shrtly tiene algunas limitaciones,
                    por lo tanto, no podemos garantizar que el Sitio o los
                    servicios serán ininterrumpidos, seguros o libres de
                    errores. El propietario no será responsable de errores u
                    omisiones en este Sitio o de cualquier daño que puedas
                    sufrir.
                </Pharagraph>
            </Section>
        </article>
    </Main>
</Layout>
