---
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<script>
    import axios from "axios";
    axios.get("https://url-shortener-dlcc.onrender.com/api/v2/auth/activate-clouster");
    // axios.get("http://localhost:3001/api/v2/auth/activate-clouster");
    
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <a
            href="/"
            class="text-center uppercase font-bold text-5xl fixed top-4 left-4 hidden md:block z-50"
        >
            <span class="text-accent">Shrt</span>ly
        </a>
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    * {
        box-sizing: border-box;
        position: relative;
        min-width: 0;
    }

    body {
        min-height: 100dvh;
        background-color: rgb(23, 19, 50);
        color: white;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
        line-height: 2.5rem;
    }

    li {
        margin-top: 4px;
        margin-bottom: 4px;
        line-height: 2.5rem;
    }
</style>
